<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/img/logolp.png" alt="Programador" width="120" height="40">
      </a>
    </div>
  </nav>