<%- include ('./partials/header.ejs') %>

    <body>
        <%- include ('./partials/navbar.ejs') %>
            <div class="container form-container">
                <div class="card mt-5" id="form-question">
                    <div class="card-header text-center">
                        <h3>ask question</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="mb-3">
                                <label for="title" class="form-label">Title</label>

                                <input type="text" class="form-control" id="title">
                            </div>
                            <div class="mb-3">
                                <label for="floatingTextarea">Description</label>
                                <textarea class="form-control" placeholder="Leave a description here"
                                    id="floatingTextarea"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">Perguntar</button>
                        </form>
                    </div>
                </div>


            </div>


            <%- include ('./partials/footer.ejs') %>

    </body>